* {
    box-sizing: border-box;
}
body{
    background-color: rgb(235, 215, 130);
}
h1 {
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: coral;
    box-shadow: 3px 3px 3px black;
}

h1 a {
    text-decoration: none;
    border: 3px solid blue;
    outline: 1px solid black;
    background-color: white;
    font-size: 80%;
}
h1 a:active {
outline: none;
}

#firstPart {
    float: left;
    width: 25vw;
    margin: 2vw;
}
#firstNum {
    text-align: center;
    font-size: 50px;
    height: 70px;
    width: 100%;
    overflow-wrap: normal;
}
#btnFirst, #dBtnfirst {
    font-size: 2vw;
    display: block;
    margin: 10px auto;
    box-shadow: 3px 3px 3px black;
}

#btnFirst:active, #dBtnfirst:active {
    box-shadow: none;
}

#secondPart {
   
    float: left;
    width: 25vw;
    margin: 2vw;
}
#secondNum {
    text-align: center;
    font-size: 50px;
    height: 70px;
    width: 100%;
    overflow-wrap: normal;
}
#btnSecond, #dBtnsecond {
    font-size: 2vw;
    display: block;
    margin: 5px auto;
    box-shadow: 3px 3px 3px black;
}
#btnSecond:active, #dBtnsecond:active {
    box-shadow: none;
}
#sumPart {
    float: right;
    width: 35vw;
    margin-top: 2vw;
    margin-right: 2vw;
}
#sumNum {
    text-align: center;
    font-size: 50px;
    height: 70px;
    width: 100%;
    overflow-wrap: normal;
}
#btnSum {
    font-size: 2vw;
    display: block;
    margin: 10px auto;
    box-shadow: 3px 3px 3px black;
}
#btnSum:active {
    box-shadow: none;
}

#vcountOne, #vcountTwo, #vSum {
    display: block;
    width: 100%;
    height: 400px;
    text-align: center;
    font-size: 3vw;
    overflow-y: auto;
}


@media only screen and (max-width: 620px) {
  #btnFirst, #btnSecond, #btnSum {
    margin-bottom: 150px;
  }
}